Obligatorio 2 ULTIMA VERSION/ObligatorioProgramacionDeRedes/AdminClient/Connected Services/ServiceReference1/Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfRanking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ranking" nillable="true" type="tns:Ranking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRanking" nillable="true" type="tns:ArrayOfRanking" />
  <xs:complexType name="Ranking">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ranking" nillable="true" type="tns:Ranking" />
  <xs:complexType name="ArrayOfStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Statistic" nillable="true" type="tns:Statistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatistic" nillable="true" type="tns:ArrayOfStatistic" />
  <xs:complexType name="Statistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameStatistics" nillable="true" type="tns:ArrayOfGameStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistic" nillable="true" type="tns:Statistic" />
  <xs:complexType name="ArrayOfGameStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameStatistic" nillable="true" type="tns:GameStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameStatistic" nillable="true" type="tns:ArrayOfGameStatistic" />
  <xs:complexType name="GameStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameStatistic" nillable="true" type="tns:GameStatistic" />
</xs:schema>